<div class="invoice-container">
  <div class="invoice-header">
    <p class="company-name"></p>
    <p class="company-address"></p>
    <p class="company-town"></p>
  </div>
  <div class="invoice-header">
    <p class="employee-name"></p>
    <p class="invoice-number row">
      <span class="col-md-4"></span>
      <span class="col-md-4"></span>
      <span class="col-md-4"></span>
    </p>
    <div class="invoice-items-header">
      <div class="row">
        <p class="col-md-6"></p>
        <p class="col-md-2"></p>
        <p class="col-md-2"></p>
        <p class="col-md-2"></p>
      </div>
      <div class="row">
        <p class="col-md-6"></p>
        <p class="col-md-2"></p>
        <p class="col-md-2"></p>
        <p class="col-md-2"></p>
      </div>
    </div>
  </div>
</div>
